/*主容器*/
.zhu-rong-qi {
    width: 1600px;
    height: 800px;
}

/*左侧*/
.zheng-ti-zuo {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    height: 800px;
}

/*中间*/
.zheng-ti-zhong {
    display: inline-block;
    vertical-align: top;
    width: 900px;
    height: 800px;
    margin-left: 15px;
}

.zheng-ti-zhong img {
    max-width: 900px;
    max-height: 800px;
}

/*右侧*/
.zheng-ti-you {
    display: inline-block;
    vertical-align: top;
    width: 380px;
    height: 800px;
    margin-left: 15px;
}