/*全局样式*/
img {
    max-width: 900px;
    max-height: 800px;
}
/*主容器*/
.zhu-rong-qi {
    min-width: 1600px;
    min-height: 800px;
}
/*通用样式*/
/*宽度100%*/
.kuan-du-100{
    width: 100%;
}
/*左侧样式*/
.zheng-ti-cuo-ce {
    min-height: 800px;
}
/*左侧图片按钮*/
.tu-pian-an-niu {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*中间样式*/
.zheng-ti-zhong-jian {
    min-height: 800px;
    background-color: gray;
}
/*右侧样式*/
.zheng-ti-you-ce {
    min-height: 800px;
}
/*右侧卡片*/
.you-ce-ka-pian {
    margin-bottom: 20px;
}
/*右侧小按钮*/
.you-ce-xiao-an-niu {
    margin: 0 5px;
    float: left;
}
