img {
    max-width: 900px;
    max-height: 800px;
}

.zhu-rong-qi {
    min-width: 1600px;
    min-height: 800px;
}

.zheng-ti-cuo-ce{
    min-height: 800px;
}

.zheng-ti-zhong-jian {
    min-height: 800px;
    background-color: gray;
}
.zheng-ti-you-ce{
    min-height: 800px;
}

.tu-pian-an-niu {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}



.you-ce-ka-pian{
    margin-bottom: 20px;
}

.biao-qian-di-bu{
    font-size: 12px;
}