/*按钮*/
.an-niu-zhong {
    width: 100px;
    height: 30px;
}

.an-niu-xiao {
    width: 50px;
    height: 20px;
}

.an-niu-lan {
    background-color: blue;
}

.an-niu-lan:hover {
    background-color: red;
}

/*左侧图片按钮*/
.an-niu-tu-pian {
    width: 100px;
    height: 20px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*标签页*/
.biao-qian-lie-biao {
    display: flex;
    width: 378px;
    height: 48px;
    border: 1px solid #1e646e;
}

.biao-qian-an-niu {
    text-align: center;
    font-size: 20px;
    width: 100px;
    height: 30px;
    padding:9px 10px;
    background-color: #1e646e;
}

.biao-qian-an-niu:hover{
    background-color: #b2a59f;
}

.biao-qian-xuan-zhong{

}

.biao-qian-yei-lie-biao {
    width: 378px;
    height: 599px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #1e646e;
}

.biao-qian-ye{

}