/*##布局##*/

/*主窗口*/
.zhu3window {
  width: 1600px;
  height: 900px;
  margin: 0 auto;
  font-size: 0;
  background-color: #e9f1f6;
}

/*左侧标签*/
.tag0choose {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: 900px;
}

.tag0query0arr {
  position: absolute;
  z-index: 100;
  width: 350px;
  height: 350px;
  background-color: #758a99;
  overflow-y: scroll;
}

.tag0query {
  width: 100%;
  height: 30px;
}

.tag0arr {
  width: 100%;
  height: 760px;
  overflow-y: scroll;
}

/*中间图片选择*/
.image0choose {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: 900px;
}

.image0arr {
  width: 100%;
  height: 850px;
  overflow-y: scroll;
}

/*右侧图片展示*/
.image0show {
  display: inline-block;
  vertical-align: top;
  width: 900px;
  height: 900px;
  background-color: #758a99;
}

.image0show0image {
  width: 100%;
  height: 850px;
}

.image0show0image img {
  max-width: 900px;
  max-height: 800px;
}