/*##布局##*/

/*主窗口*/
.zhu3window {
  width: 1600px;
  height: 900px;
  margin: 0 auto;
  background-color: #70f3ff;
  font-size: 0;
}

/*图片切换*/
.tag0switch {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: 800px;
  overflow-y: scroll;
}

/*图片列表*/
.tp0arr {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: 800px;
  overflow-y: scroll;
}

/*图片展示*/
.tp0show {
  display: inline-block;
  vertical-align: top;
  width: 900px;
  height: 800px;
  background-color: #e9f1f6;
}

.tp0show img {
  max-width: 900px;
  max-height: 800px;
}