/*##颜色##*/

.t0yan2se4 {
  background-color: #ff7400;
  background-color: #ff9640;
  background-color: #ff4040;
  background-color: #ff7373;
  background-color: #39e639;
  background-color: #67e667;
  background-color: #9f3ed5;
  background-color: #ad66d5;
  background-color: #ffff40;
  background-color: #ffff73;
}

.btn0cheng2hong2{
  background-color: #ff7400;
}

.btn0cheng2hong2:hover{
  background-color: #ff9640;
}

.btn0hong2 {
  background-color: #ff4040;
}

.btn0hong2:hover {
  background-color: #ff7373;
}

.btn0lv4 {
  background-color: #39e639;
}

.btn0lv4:hover {
  background-color: #67e667;
}

.btn0zi3 {
  background-color: #9f3ed5;
}

.btn0zi3:hover {
  background-color: #ad66d5;
}

.btn0huang2 {
  background-color: #ffff40;
}

.btn0huang2:hover {
  background-color: #ffff73;
}